<div class="animate">
    <div class="animate">
        <div class="row">
            
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-default">
                        <h5 class="card-title">
                            Text alignment
                        </h5>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-4 text-xs-left">
                                <div class="card card-default card-block">
                                    <blockquote class="card-blockquote">
                                        <h4 class="text-default">Title</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et, suscipit non nihil voluptates, maxime ad dignissimos vitae.</p>
                                        <a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="col-md-4 text-xs-center">
                                <div class="card card-default card-block">
                                    <blockquote class="card-blockquote">
                                        <h4 class="text-default">Title</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et, suscipit non nihil voluptates, maxime ad dignissimos vitae.</p>
                                        <a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="col-md-4 text-xs-right">
                                <div class="card card-default card-block ">
                                    <blockquote class="card-blockquote">
                                        <h4 class="text-default">Title</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et, suscipit non nihil voluptates, maxime ad dignissimos vitae.</p>
                                        <a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>