{{#section 'head'}}
<meta name="robot" , content="noindex"> {{/section }}
<h1>Test Page</h1>
<h2> We are testing some jquery stuff</h2> {{#section 'jquery'}}
<script>
    $('document').ready(function () {
        $('h1').html('jQuery Works');
    });
</script>

{{/section }}